/* GLOBAL STYLES
-----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
*{box-sizing: border-box;
    font-family: 'Georgia';
    font-size: 2vw;
    color: #19335A;
    }

:root{--boldPeach:#bf6d50
}

body{
      text-align: center;
}

h1{
  font-size: 5vw;
  margin: 0px;
  padding-right: 5%;
}
h2 {
  font-size: 4vw;
  direction: ltr;  /* Right to Left */
  padding-top: 10px;
  margin: 0;
}

h3 {
  font-size: 3vw;
  direction: ltr;  /* Right to Left */
  padding-top: 5px;
  margin: 0;
}

h3 div{
  display: inline-block;
  width: 300px;
  background-color: #d1c1a5;
  border-radius: 15px;
}

/*HEDAER AND NAV*/

.navlink{
  padding: 0 1vw;
  margin: 0;
  color: var(--boldPeach);
  text-decoration: none; /* removes default underline */
}

#home{
  padding-right: 3vw;
 }
/*when typing nav button */
a.navlink:hover {
  background: peachpuff;
}

header{
    direction: ltr;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}



/*MAIN
-----------------------------------------*/
main {
    background: whitesmoke;
    width: 100%;
    margin-top: 10%;
}

/*HOME PIC
--------------------------------------------------*/
  #packageTitle{
    background-color: #d1c1a5;
    border-radius: 15px;
  }

.images_buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index:3;
	}

.images_buttons a {
	width: 23%;
	background-size: cover;
  background-position: center;
  border-radius: 20%;
	margin: 25px 15px;
	background-repeat: no-repeat;
	}

.images_buttons span {
	margin-top: 100%;
	display: block;
	text-align:center;
	color: #19335A;
	font-weight: bold;

	}
  
  #Cash{
    text-align: center;
    padding: 10%;
  }

.images_buttons a:hover {
	cursor:pointer;
  box-shadow: 10px 10px 5px #2b6777;
	}
  
.images_buttons a:hover span {
    color: #2b6777;
	}


/* The Modal Product*/
#cancelbtn {
  padding: 10px 18px;
}

footer p button {
  width: 200px;
  padding: 10px 18px;
  margin: 40px;
  border-radius: 15px;
}

.modalbutton{
  font-size: 2vw;
  text-align: center;
  width: 110px;
  height: 55px;
  border-radius: 15px;
}

.imgcontainer {
  text-align: center;
  margin-top: 10px;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 10%;
}

.container {
  padding: 0px;

}

#amountNum{
  text-align: center;
  width: 20%;
  height: 55px;
  border-radius: 15px;
  font-size: 2vw;
}

#amountOFcash{
  text-align: center;
  width: 20%;
  height: 55px;
  border-radius: 15px;
  font-size: 2vw;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 60px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 3vw;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: indianred;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


/* FOOTER STYLES
-----------------------------------------*/
footer {
  text-align: center;
  padding: 1px;
  text-transform: lowercase;
  position: -ms-device-fixed;
  float: bottom;
  width: 100%;
  font-size: 3vw;
}

/* REGISTER+LOGIN STYLES
---------------------------------------*/
form {
  display: inline-block;
  background-color: #d1c1a5;
  border: 3px solid #f1f1f1;
  border-radius: 15px;
  width: 60%;
  font-size: 2vw;
  color: #19335A;
}

.register{
  font-size: 1.5vw;
  font-weight: bold;
}

.question{
  font-size: 1.5vw;
}

#SignIn{
  width: 100%;
  float: center;
}

#goBackToHomePage{
  width: 10%;
  float: left;
  text-align: center;
  font-size: 1.3vw;
}

/* Full-width inputs */
input[type=text], input[type=password] ,input[type=email], textarea[type=message], input[type=date], input[type=tel]{
   direction: ltr;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1vw;
  border-radius: 15px;
}

/* Set a style for all buttons */
button {
  background-color: #8FC8EB;
  color: #19335A;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: 1.5vw;
  font-weight: bold;
  border-radius: 15px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 758px) {
  .h1{
    font-size: 7vw;
  }
 .navlink {
   font-size:5vw;
 }
 .modalbutton{
  font-size: 4vw;
 }
 input[type=text], input[type=password] ,input[type=email], textarea[type=message]{
  font-size: 3vw;
 }
 button{
  font-size: 4vw ;
 }
 .register{
  font-size: 5vw ;
 }
}